openapi: 3.1.0
info:
  title: BooksTrack API
  version: 4.0.0
  description: |
    Book search, enrichment, and AI-powered scanning API.

    ## API Versioning

    **Current Version:** V2 API (recommended for all new integrations)

    **Legacy APIs:** V1 and unversioned endpoints are deprecated and will be removed March 1, 2026.

    ## Migration Guide

    | Legacy Endpoint | V2 Replacement | Notes |
    |-----------------|----------------|-------|
    | `GET /search/*` | `GET /api/v2/search` | Unified search with modes |
    | `POST /api/import/csv-gemini` | `POST /api/v2/imports` | Unified import workflow |
    | `GET /v1/csv/status/:id` | `GET /api/v2/imports/:id` | Job status polling |
    | `GET /v1/csv/results/:id` | `GET /api/v2/imports/:id/results` | Job results |
    | `POST /api/batch-enrich` | `POST /api/v2/books/enrich` | Single book enrichment |
    | `GET /ws/progress` | `GET /api/v2/imports/:id/stream` | SSE replaces WebSocket |

    ## Response Format

    All V2 endpoints use the unified ResponseEnvelope format:
    ```json
    {
      "data": { ... },
      "metadata": {
        "timestamp": "2025-12-01T00:00:00Z",
        "source": "google_books",
        "cached": true
      },
      "error": null  // or error object on failure
    }
    ```
  contact:
    email: api-support@oooefam.net
servers:
  - url: https://api.oooefam.net
    description: Production
  - url: http://localhost:8787
    description: Local development
tags:
  - name: V2 Search
    description: |
      **CURRENT** - Unified search API supporting text, semantic, and hybrid modes.
      Use these endpoints for all new integrations.
  - name: V2 Imports
    description: |
      **CURRENT** - CSV import and bookshelf scanning workflow.
      Supports SSE streaming for real-time progress updates.
  - name: V2 Enrichment
    description: |
      **CURRENT** - Book metadata enrichment from multiple providers.
      Includes optional vector embedding generation.
  - name: V2 Discovery
    description: |
      **CURRENT** - Trending content and personalized recommendations.
  - name: V1 Jobs
    description: |
      **LEGACY** - Job management endpoints. Use V2 Imports endpoints instead.
      Sunset: March 1, 2026
  - name: V1 Search
    description: |
      **DEPRECATED** - Legacy search endpoints. Use `/api/v2/search` instead.
      Sunset: March 1, 2026
  - name: Health
    description: System health and monitoring
components:
  schemas:
    # =========================================================================
    # RESPONSE ENVELOPE SCHEMAS
    # =========================================================================

    ResponseMetadata:
      type: object
      description: Standard metadata included in all responses
      properties:
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of response
        source:
          type: string
          enum: [google_books, open_library, isbndb, kv-cache, d1-database, vectorize, text-search, job-state-manager-do, curated, none]
          description: Data source provider
        cached:
          type: boolean
          description: Whether response was served from cache
        processingTime:
          type: integer
          minimum: 0
          description: Processing time in milliseconds
      required:
        - timestamp

    ErrorResponse:
      type: object
      description: Standard error response envelope
      properties:
        data:
          nullable: true
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - NOT_FOUND
                - INVALID_REQUEST
                - INVALID_ISBN
                - INVALID_QUERY
                - MISSING_PARAMETER
                - UNAUTHORIZED
                - FORBIDDEN
                - INTERNAL_ERROR
                - API_ERROR
                - NETWORK_ERROR
                - RATE_LIMIT_EXCEEDED
                - CIRCUIT_OPEN
                - PROVIDER_ERROR
                - TIMEOUT
                - FEATURE_NOT_AVAILABLE
                - FILE_TOO_LARGE
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              additionalProperties: true
              description: Additional error context
            retryable:
              type: boolean
              description: Whether the request can be retried
            retryAfterMs:
              type: integer
              minimum: 0
              description: Milliseconds to wait before retry
            provider:
              type: string
              description: Provider that caused the error
          required:
            - code
            - message
      required:
        - data
        - error

    # =========================================================================
    # BOOK SCHEMAS
    # =========================================================================

    BookSearchResult:
      type: object
      description: Book result from search
      properties:
        isbn:
          type: string
          description: Primary ISBN (ISBN-13 preferred)
        isbn13:
          type: string
          pattern: '^\d{13}$'
        isbn10:
          type: string
          pattern: '^\d{10}$'
        title:
          type: string
        authors:
          type: array
          items:
            type: string
        publisher:
          type: string
        publishedDate:
          type: string
        description:
          type: string
        pageCount:
          type: integer
          minimum: 0
        categories:
          type: array
          items:
            type: string
        coverUrl:
          type: string
          format: uri
        language:
          type: string
        openLibraryWorkId:
          type: string
          description: OpenLibrary work ID for edition grouping
      required:
        - title
        - authors

    EnrichedBook:
      type: object
      description: Fully enriched book with provider metadata
      properties:
        isbn:
          type: string
        title:
          type: string
        authors:
          type: array
          items:
            type: string
        publisher:
          type: string
        publishedDate:
          type: string
        description:
          type: string
        pageCount:
          type: integer
          minimum: 0
        categories:
          type: array
          items:
            type: string
        coverUrl:
          type: string
          format: uri
        provider:
          type: string
          enum: [google_books, open_library, isbndb, orchestrated, kv-cache]
          description: Primary data provider
        enrichedAt:
          type: string
          format: date-time
        vectorized:
          type: boolean
          description: Whether embedding was generated for semantic search
      required:
        - isbn
        - title
        - authors
        - provider
        - enrichedAt
        - vectorized

    # =========================================================================
    # JOB SCHEMAS
    # =========================================================================

    JobState:
      type: object
      description: Current state of an async job
      properties:
        jobId:
          type: string
          format: uuid
        status:
          type: string
          enum: [initialized, processing, completed, failed, canceled]
        progress:
          type: number
          minimum: 0
          maximum: 1
          description: Progress from 0.0 to 1.0
        processedCount:
          type: integer
          minimum: 0
        totalCount:
          type: integer
          minimum: 0
        pipeline:
          type: string
          enum: [csv_import, batch_enrichment, ai_scan]
        startTime:
          type: string
          format: date-time
        lastUpdateTime:
          type: string
          format: date-time
        completedTime:
          type: string
          format: date-time
        failedTime:
          type: string
          format: date-time
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            retryable:
              type: boolean
            details:
              type: object
        canceled:
          type: boolean
        cancelReason:
          type: string
        canceledTime:
          type: string
          format: date-time
      required:
        - jobId
        - status
        - progress
        - processedCount
        - totalCount
        - pipeline

    JobResults:
      type: object
      description: Results from a completed import job
      properties:
        booksCreated:
          type: integer
          minimum: 0
        booksUpdated:
          type: integer
          minimum: 0
        duplicatesSkipped:
          type: integer
          minimum: 0
        enrichmentSucceeded:
          type: integer
          minimum: 0
        enrichmentFailed:
          type: integer
          minimum: 0
        errors:
          type: array
          items:
            type: object
            properties:
              row:
                type: integer
                description: Row number in CSV (if applicable)
              isbn:
                type: string
              error:
                type: string
        books:
          type: array
          description: Full canonical book objects for iOS persistence
          items:
            $ref: '#/components/schemas/BookSearchResult'
      required:
        - booksCreated
        - books

  parameters: {}
paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check endpoint
      description: |-

        Simple health check that returns worker status.

        Returns basic worker information for monitoring purposes:
        - **status**: Health status indicator (always "ok" when responding)
        - **worker**: Worker service name
        - **version**: API version
        - **router**: Router framework type

        **Example:** `GET /health`

        This endpoint is publicly accessible and requires no authentication.
        Use it for:
        - Monitoring and uptime checks
        - Load balancer health gates
        - CI/CD pipeline verification
          
      responses:
        '200':
          description: Health check successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - ok
                        description: Health status indicator
                      worker:
                        type: string
                        description: Worker service name
                      version:
                        type: string
                        description: API version
                      router:
                        type: string
                        enum:
                          - hono
                        description: Router framework
                    required:
                      - status
                      - worker
                      - version
                      - router
                    additionalProperties: false
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                        description: ISO 8601 timestamp
                    required:
                      - timestamp
                    additionalProperties: false
                required:
                  - data
                additionalProperties: false
              example:
                data:
                  status: ok
                  worker: api-worker
                  version: 2.1.0
                  router: hono
                metadata:
                  timestamp: '2025-11-28T12:00:00.000Z'
  /v1/search/isbn:
    get:
      tags:
        - V1 Search
      summary: Search for a book by ISBN
      deprecated: true
      x-sunset: "2026-03-01"
      description: >-

        **DEPRECATED:** Use `POST /api/v2/books/enrich` instead. Sunset: March 1, 2026.

        ---

        Search for a book by ISBN-10 or ISBN-13 (digits only, no hyphens).


        Returns comprehensive book data including:

        - Works: Abstract creative works (title, description, subjects)

        - Editions: Physical/digital editions (publisher, publication date,
        format)

        - Authors: Author biographical data (name, gender, cultural region)


        **Example:** `GET /v1/search/isbn?isbn=9780439708180`


        **Multi-Provider Orchestration:**

        1. BookRepository (KV/D1 cache) - fastest

        2. Google Books API - primary source

        3. OpenLibrary API - fallback #1

        4. ISBNdb API - fallback #2


        **Cache TTL:** 24 hours (KV), permanent (D1)


        **Rate Limits:**

        - 100 requests/minute per IP

        - 1000 requests/hour per IP


        **Circuit Breaker Protection:**

        All external providers are protected by circuit breakers.

        If a provider's circuit is OPEN, the request fails fast with
        `CIRCUIT_OPEN` error.
          
      parameters:
        - schema:
            type: string
            minLength: 10
            maxLength: 13
            pattern: ^\d{10}$|^\d{13}$
            description: ISBN-10 or ISBN-13 (digits only, no hyphens)
          required: true
          description: ISBN-10 or ISBN-13 (digits only, no hyphens)
          name: isbn
          in: query
      responses:
        '200':
          description: Book found successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      works:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            subjectTags:
                              type: array
                              items:
                                type: string
                            originalLanguage:
                              type: string
                            firstPublicationYear:
                              type: integer
                            description:
                              type: string
                            coverImageURL:
                              type: string
                              format: uri
                            synthetic:
                              type: boolean
                            primaryProvider:
                              type: string
                              enum:
                                - google_books
                                - open_library
                                - isbndb
                                - kv_cache
                            contributors:
                              type: array
                              items:
                                type: string
                                enum:
                                  - google_books
                                  - open_library
                                  - isbndb
                                  - kv_cache
                            openLibraryID:
                              type: string
                            openLibraryWorkID:
                              type: string
                            isbndbID:
                              type: string
                            googleBooksVolumeID:
                              type: string
                            goodreadsID:
                              type: string
                            goodreadsWorkIDs:
                              type: array
                              items:
                                type: string
                            amazonASINs:
                              type: array
                              items:
                                type: string
                            librarythingIDs:
                              type: array
                              items:
                                type: string
                            googleBooksVolumeIDs:
                              type: array
                              items:
                                type: string
                            lastISBNDBSync:
                              type: string
                              format: date-time
                            isbndbQuality:
                              type: integer
                              minimum: 0
                              maximum: 100
                            reviewStatus:
                              type: string
                              enum:
                                - unverified
                                - verified
                                - rejected
                                - flagged
                            originalImagePath:
                              type: string
                            boundingBox:
                              type: object
                              properties:
                                x:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                'y':
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                width:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                height:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                              required:
                                - x
                                - 'y'
                                - width
                                - height
                              additionalProperties: false
                          required:
                            - title
                            - subjectTags
                            - goodreadsWorkIDs
                            - amazonASINs
                            - librarythingIDs
                            - googleBooksVolumeIDs
                            - isbndbQuality
                            - reviewStatus
                          additionalProperties: false
                      editions:
                        type: array
                        items:
                          type: object
                          properties:
                            isbn:
                              type: string
                            isbns:
                              type: array
                              items:
                                type: string
                            title:
                              type: string
                            publisher:
                              type: string
                            publicationDate:
                              type: string
                            pageCount:
                              type: integer
                              minimum: 0
                            format:
                              type: string
                              enum:
                                - hardcover
                                - paperback
                                - ebook
                                - audiobook
                                - mass_market
                                - board_book
                                - unknown
                            coverImageURL:
                              type: string
                              format: uri
                            editionTitle:
                              type: string
                            editionDescription:
                              type: string
                            language:
                              type: string
                            primaryProvider:
                              type: string
                              enum:
                                - google_books
                                - open_library
                                - isbndb
                                - kv_cache
                            contributors:
                              type: array
                              items:
                                type: string
                                enum:
                                  - google_books
                                  - open_library
                                  - isbndb
                                  - kv_cache
                            openLibraryID:
                              type: string
                            openLibraryEditionID:
                              type: string
                            isbndbID:
                              type: string
                            googleBooksVolumeID:
                              type: string
                            goodreadsID:
                              type: string
                            amazonASINs:
                              type: array
                              items:
                                type: string
                            googleBooksVolumeIDs:
                              type: array
                              items:
                                type: string
                            librarythingIDs:
                              type: array
                              items:
                                type: string
                            lastISBNDBSync:
                              type: string
                              format: date-time
                            isbndbQuality:
                              type: integer
                              minimum: 0
                              maximum: 100
                          required:
                            - isbns
                            - format
                            - amazonASINs
                            - googleBooksVolumeIDs
                            - librarythingIDs
                            - isbndbQuality
                          additionalProperties: false
                      authors:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            gender:
                              type: string
                              enum:
                                - male
                                - female
                                - non_binary
                                - unknown
                            culturalRegion:
                              type: string
                              enum:
                                - north_america
                                - latin_america
                                - europe
                                - asia
                                - africa
                                - middle_east
                                - oceania
                                - unknown
                            nationality:
                              type: string
                            birthYear:
                              type: integer
                            deathYear:
                              type: integer
                            openLibraryID:
                              type: string
                            isbndbID:
                              type: string
                            googleBooksID:
                              type: string
                            goodreadsID:
                              type: string
                            bookCount:
                              type: integer
                              minimum: 0
                          required:
                            - name
                            - gender
                          additionalProperties: false
                      resultCount:
                        type: integer
                        minimum: 0
                    required:
                      - works
                      - editions
                      - authors
                      - resultCount
                    additionalProperties: false
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      processingTime:
                        type: integer
                        minimum: 0
                      provider:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - none
                      cached:
                        type: boolean
                    required:
                      - timestamp
                    additionalProperties: false
                required:
                  - data
                additionalProperties: false
              example:
                data:
                  works:
                    - title: Harry Potter and the Philosopher's Stone
                      subjectTags:
                        - magic
                        - wizards
                        - fantasy
                      firstPublicationYear: 1997
                      description: Harry Potter has never even heard of Hogwarts...
                      coverImageURL: https://covers.openlibrary.org/b/id/12345-L.jpg
                      primaryProvider: google_books
                      goodreadsWorkIDs:
                        - OL82563W
                      amazonASINs:
                        - B0192CTMYG
                      librarythingIDs: []
                      googleBooksVolumeIDs:
                        - wrOQLV6xB-wC
                      isbndbQuality: 95
                      reviewStatus: verified
                      synthetic: false
                  editions:
                    - isbns:
                        - '9780439708180'
                        - '0439708184'
                      title: Harry Potter and the Philosopher's Stone
                      publisher: Scholastic Inc.
                      publicationDate: '1999-09-01'
                      pageCount: 309
                      format: paperback
                      coverImageURL: >-
                        https://covers.openlibrary.org/b/isbn/9780439708180-L.jpg
                      primaryProvider: google_books
                      amazonASINs:
                        - '0439708184'
                      googleBooksVolumeIDs:
                        - wrOQLV6xB-wC
                      librarythingIDs: []
                      isbndbQuality: 95
                  authors:
                    - name: J.K. Rowling
                      gender: female
                      culturalRegion: europe
                      nationality: British
                      birthYear: 1965
                      openLibraryID: OL23919A
                      bookCount: 42
                  resultCount: 1
                metadata:
                  timestamp: '2025-11-28T12:00:00.000Z'
                  processingTime: 145
                  provider: google_books
                  cached: true
        '400':
          description: Invalid ISBN format
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    nullable: true
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      cached:
                        type: boolean
                      source:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - vectorize
                    required:
                      - timestamp
                    additionalProperties: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - NOT_FOUND
                          - INVALID_REQUEST
                          - INVALID_ISBN
                          - INVALID_QUERY
                          - MISSING_PARAMETER
                          - UNAUTHORIZED
                          - FORBIDDEN
                          - INTERNAL_ERROR
                          - API_ERROR
                          - NETWORK_ERROR
                          - RATE_LIMIT_EXCEEDED
                          - CIRCUIT_OPEN
                          - PROVIDER_ERROR
                          - TIMEOUT
                      message:
                        type: string
                      details:
                        type: object
                        additionalProperties:
                          nullable: true
                      retryable:
                        type: boolean
                      retryAfterMs:
                        type: number
                        minimum: 0
                      provider:
                        type: string
                    required:
                      - code
                      - message
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
              example:
                data: null
                metadata:
                  timestamp: '2025-11-28T12:00:00.000Z'
                error:
                  code: INVALID_ISBN
                  message: Invalid ISBN format. Must be valid ISBN-10 or ISBN-13
                  details:
                    isbn: invalid-isbn
        '404':
          description: Book not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      works:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            subjectTags:
                              type: array
                              items:
                                type: string
                            originalLanguage:
                              type: string
                            firstPublicationYear:
                              type: integer
                            description:
                              type: string
                            coverImageURL:
                              type: string
                              format: uri
                            synthetic:
                              type: boolean
                            primaryProvider:
                              type: string
                              enum:
                                - google_books
                                - open_library
                                - isbndb
                                - kv_cache
                            contributors:
                              type: array
                              items:
                                type: string
                                enum:
                                  - google_books
                                  - open_library
                                  - isbndb
                                  - kv_cache
                            openLibraryID:
                              type: string
                            openLibraryWorkID:
                              type: string
                            isbndbID:
                              type: string
                            googleBooksVolumeID:
                              type: string
                            goodreadsID:
                              type: string
                            goodreadsWorkIDs:
                              type: array
                              items:
                                type: string
                            amazonASINs:
                              type: array
                              items:
                                type: string
                            librarythingIDs:
                              type: array
                              items:
                                type: string
                            googleBooksVolumeIDs:
                              type: array
                              items:
                                type: string
                            lastISBNDBSync:
                              type: string
                              format: date-time
                            isbndbQuality:
                              type: integer
                              minimum: 0
                              maximum: 100
                            reviewStatus:
                              type: string
                              enum:
                                - unverified
                                - verified
                                - rejected
                                - flagged
                            originalImagePath:
                              type: string
                            boundingBox:
                              type: object
                              properties:
                                x:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                'y':
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                width:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                height:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                              required:
                                - x
                                - 'y'
                                - width
                                - height
                              additionalProperties: false
                          required:
                            - title
                            - subjectTags
                            - goodreadsWorkIDs
                            - amazonASINs
                            - librarythingIDs
                            - googleBooksVolumeIDs
                            - isbndbQuality
                            - reviewStatus
                          additionalProperties: false
                      editions:
                        type: array
                        items:
                          type: object
                          properties:
                            isbn:
                              type: string
                            isbns:
                              type: array
                              items:
                                type: string
                            title:
                              type: string
                            publisher:
                              type: string
                            publicationDate:
                              type: string
                            pageCount:
                              type: integer
                              minimum: 0
                            format:
                              type: string
                              enum:
                                - hardcover
                                - paperback
                                - ebook
                                - audiobook
                                - mass_market
                                - board_book
                                - unknown
                            coverImageURL:
                              type: string
                              format: uri
                            editionTitle:
                              type: string
                            editionDescription:
                              type: string
                            language:
                              type: string
                            primaryProvider:
                              type: string
                              enum:
                                - google_books
                                - open_library
                                - isbndb
                                - kv_cache
                            contributors:
                              type: array
                              items:
                                type: string
                                enum:
                                  - google_books
                                  - open_library
                                  - isbndb
                                  - kv_cache
                            openLibraryID:
                              type: string
                            openLibraryEditionID:
                              type: string
                            isbndbID:
                              type: string
                            googleBooksVolumeID:
                              type: string
                            goodreadsID:
                              type: string
                            amazonASINs:
                              type: array
                              items:
                                type: string
                            googleBooksVolumeIDs:
                              type: array
                              items:
                                type: string
                            librarythingIDs:
                              type: array
                              items:
                                type: string
                            lastISBNDBSync:
                              type: string
                              format: date-time
                            isbndbQuality:
                              type: integer
                              minimum: 0
                              maximum: 100
                          required:
                            - isbns
                            - format
                            - amazonASINs
                            - googleBooksVolumeIDs
                            - librarythingIDs
                            - isbndbQuality
                          additionalProperties: false
                      authors:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            gender:
                              type: string
                              enum:
                                - male
                                - female
                                - non_binary
                                - unknown
                            culturalRegion:
                              type: string
                              enum:
                                - north_america
                                - latin_america
                                - europe
                                - asia
                                - africa
                                - middle_east
                                - oceania
                                - unknown
                            nationality:
                              type: string
                            birthYear:
                              type: integer
                            deathYear:
                              type: integer
                            openLibraryID:
                              type: string
                            isbndbID:
                              type: string
                            googleBooksID:
                              type: string
                            goodreadsID:
                              type: string
                            bookCount:
                              type: integer
                              minimum: 0
                          required:
                            - name
                            - gender
                          additionalProperties: false
                      resultCount:
                        type: integer
                        minimum: 0
                    required:
                      - works
                      - editions
                      - authors
                      - resultCount
                    additionalProperties: false
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      processingTime:
                        type: integer
                        minimum: 0
                      provider:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - none
                      cached:
                        type: boolean
                    required:
                      - timestamp
                    additionalProperties: false
                required:
                  - data
                additionalProperties: false
              example:
                data:
                  works: []
                  editions: []
                  authors: []
                  resultCount: 0
                metadata:
                  timestamp: '2025-11-28T12:00:00.000Z'
                  processingTime: 523
                  provider: none
                  cached: false
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    nullable: true
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      cached:
                        type: boolean
                      source:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - vectorize
                    required:
                      - timestamp
                    additionalProperties: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - NOT_FOUND
                          - INVALID_REQUEST
                          - INVALID_ISBN
                          - INVALID_QUERY
                          - MISSING_PARAMETER
                          - UNAUTHORIZED
                          - FORBIDDEN
                          - INTERNAL_ERROR
                          - API_ERROR
                          - NETWORK_ERROR
                          - RATE_LIMIT_EXCEEDED
                          - CIRCUIT_OPEN
                          - PROVIDER_ERROR
                          - TIMEOUT
                      message:
                        type: string
                      details:
                        type: object
                        additionalProperties:
                          nullable: true
                      retryable:
                        type: boolean
                      retryAfterMs:
                        type: number
                        minimum: 0
                      provider:
                        type: string
                    required:
                      - code
                      - message
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
              example:
                data: null
                metadata:
                  timestamp: '2025-11-28T12:00:00.000Z'
                error:
                  code: RATE_LIMIT_EXCEEDED
                  message: Rate limit exceeded. Maximum 100 requests per minute.
                  retryable: true
                  retryAfterMs: 60000
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    nullable: true
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      cached:
                        type: boolean
                      source:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - vectorize
                    required:
                      - timestamp
                    additionalProperties: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - NOT_FOUND
                          - INVALID_REQUEST
                          - INVALID_ISBN
                          - INVALID_QUERY
                          - MISSING_PARAMETER
                          - UNAUTHORIZED
                          - FORBIDDEN
                          - INTERNAL_ERROR
                          - API_ERROR
                          - NETWORK_ERROR
                          - RATE_LIMIT_EXCEEDED
                          - CIRCUIT_OPEN
                          - PROVIDER_ERROR
                          - TIMEOUT
                      message:
                        type: string
                      details:
                        type: object
                        additionalProperties:
                          nullable: true
                      retryable:
                        type: boolean
                      retryAfterMs:
                        type: number
                        minimum: 0
                      provider:
                        type: string
                    required:
                      - code
                      - message
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
              example:
                data: null
                metadata:
                  timestamp: '2025-11-28T12:00:00.000Z'
                error:
                  code: INTERNAL_ERROR
                  message: An unexpected error occurred while processing the request
        '503':
          description: Circuit breaker open - provider unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    nullable: true
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      cached:
                        type: boolean
                      source:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - vectorize
                    required:
                      - timestamp
                    additionalProperties: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - NOT_FOUND
                          - INVALID_REQUEST
                          - INVALID_ISBN
                          - INVALID_QUERY
                          - MISSING_PARAMETER
                          - UNAUTHORIZED
                          - FORBIDDEN
                          - INTERNAL_ERROR
                          - API_ERROR
                          - NETWORK_ERROR
                          - RATE_LIMIT_EXCEEDED
                          - CIRCUIT_OPEN
                          - PROVIDER_ERROR
                          - TIMEOUT
                      message:
                        type: string
                      details:
                        type: object
                        additionalProperties:
                          nullable: true
                      retryable:
                        type: boolean
                      retryAfterMs:
                        type: number
                        minimum: 0
                      provider:
                        type: string
                    required:
                      - code
                      - message
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
              example:
                data: null
                metadata:
                  timestamp: '2025-11-28T12:00:00.000Z'
                error:
                  code: CIRCUIT_OPEN
                  message: >-
                    Provider google-books circuit breaker is open. Service
                    temporarily unavailable.
                  provider: google-books
                  retryable: true
                  retryAfterMs: 45000
  /v1/search/title:
    get:
      tags:
        - V1 Search
      summary: Search for books by title
      deprecated: true
      x-sunset: "2026-03-01"
      description: >-

        **DEPRECATED:** Use `GET /api/v2/search?mode=text` instead. Sunset: March 1, 2026.

        ---

        Search for books by title using multi-provider orchestration.


        Returns up to 20 results by default, each including:

        - Works: Abstract creative works (title, description, subjects)

        - Editions: Physical/digital editions (publisher, publication date,
        format)

        - Authors: Author biographical data (name, gender, cultural region)


        **Example:** `GET /v1/search/title?q=harry%20potter&limit=10`


        **Multi-Provider Orchestration:**

        1. OpenLibrary API - primary source for title searches

        2. Author enrichment from Wikidata (cultural diversity data)

        3. No caching (freshness important for search results)


        **Query Parameters:**

        - `q` (required): Search query string (1-200 characters)

        - `limit` (optional): Maximum number of results (1-100, default: 20)


        **Rate Limits:**

        - 100 requests/minute per IP

        - 1000 requests/hour per IP


        **Author Enrichment:**

        All author results are enriched with cultural and biographical data from
        Wikidata.
          
      parameters:
        - schema:
            type: string
            minLength: 1
            maxLength: 200
            description: Book title search query
          required: true
          description: Book title search query
          name: q
          in: query
        - schema:
            type: string
            pattern: ^\d+$
            default: '20'
            description: 'Maximum number of results (1-100, default: 20)'
          required: false
          description: 'Maximum number of results (1-100, default: 20)'
          name: limit
          in: query
      responses:
        '200':
          description: Books found successfully (may be empty if no matches)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      works:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            subjectTags:
                              type: array
                              items:
                                type: string
                            originalLanguage:
                              type: string
                            firstPublicationYear:
                              type: integer
                            description:
                              type: string
                            coverImageURL:
                              type: string
                              format: uri
                            synthetic:
                              type: boolean
                            primaryProvider:
                              type: string
                              enum:
                                - google_books
                                - open_library
                                - isbndb
                                - kv_cache
                            contributors:
                              type: array
                              items:
                                type: string
                                enum:
                                  - google_books
                                  - open_library
                                  - isbndb
                                  - kv_cache
                            openLibraryID:
                              type: string
                            openLibraryWorkID:
                              type: string
                            isbndbID:
                              type: string
                            googleBooksVolumeID:
                              type: string
                            goodreadsID:
                              type: string
                            goodreadsWorkIDs:
                              type: array
                              items:
                                type: string
                            amazonASINs:
                              type: array
                              items:
                                type: string
                            librarythingIDs:
                              type: array
                              items:
                                type: string
                            googleBooksVolumeIDs:
                              type: array
                              items:
                                type: string
                            lastISBNDBSync:
                              type: string
                              format: date-time
                            isbndbQuality:
                              type: integer
                              minimum: 0
                              maximum: 100
                            reviewStatus:
                              type: string
                              enum:
                                - unverified
                                - verified
                                - rejected
                                - flagged
                            originalImagePath:
                              type: string
                            boundingBox:
                              type: object
                              properties:
                                x:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                'y':
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                width:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                height:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                              required:
                                - x
                                - 'y'
                                - width
                                - height
                              additionalProperties: false
                          required:
                            - title
                            - subjectTags
                            - goodreadsWorkIDs
                            - amazonASINs
                            - librarythingIDs
                            - googleBooksVolumeIDs
                            - isbndbQuality
                            - reviewStatus
                          additionalProperties: false
                      editions:
                        type: array
                        items:
                          type: object
                          properties:
                            isbn:
                              type: string
                            isbns:
                              type: array
                              items:
                                type: string
                            title:
                              type: string
                            publisher:
                              type: string
                            publicationDate:
                              type: string
                            pageCount:
                              type: integer
                              minimum: 0
                            format:
                              type: string
                              enum:
                                - hardcover
                                - paperback
                                - ebook
                                - audiobook
                                - mass_market
                                - board_book
                                - unknown
                            coverImageURL:
                              type: string
                              format: uri
                            editionTitle:
                              type: string
                            editionDescription:
                              type: string
                            language:
                              type: string
                            primaryProvider:
                              type: string
                              enum:
                                - google_books
                                - open_library
                                - isbndb
                                - kv_cache
                            contributors:
                              type: array
                              items:
                                type: string
                                enum:
                                  - google_books
                                  - open_library
                                  - isbndb
                                  - kv_cache
                            openLibraryID:
                              type: string
                            openLibraryEditionID:
                              type: string
                            isbndbID:
                              type: string
                            googleBooksVolumeID:
                              type: string
                            goodreadsID:
                              type: string
                            amazonASINs:
                              type: array
                              items:
                                type: string
                            googleBooksVolumeIDs:
                              type: array
                              items:
                                type: string
                            librarythingIDs:
                              type: array
                              items:
                                type: string
                            lastISBNDBSync:
                              type: string
                              format: date-time
                            isbndbQuality:
                              type: integer
                              minimum: 0
                              maximum: 100
                          required:
                            - isbns
                            - format
                            - amazonASINs
                            - googleBooksVolumeIDs
                            - librarythingIDs
                            - isbndbQuality
                          additionalProperties: false
                      authors:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            gender:
                              type: string
                              enum:
                                - male
                                - female
                                - non_binary
                                - unknown
                            culturalRegion:
                              type: string
                              enum:
                                - north_america
                                - latin_america
                                - europe
                                - asia
                                - africa
                                - middle_east
                                - oceania
                                - unknown
                            nationality:
                              type: string
                            birthYear:
                              type: integer
                            deathYear:
                              type: integer
                            openLibraryID:
                              type: string
                            isbndbID:
                              type: string
                            googleBooksID:
                              type: string
                            goodreadsID:
                              type: string
                            bookCount:
                              type: integer
                              minimum: 0
                          required:
                            - name
                            - gender
                          additionalProperties: false
                      resultCount:
                        type: integer
                        minimum: 0
                    required:
                      - works
                      - editions
                      - authors
                      - resultCount
                    additionalProperties: false
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      processingTime:
                        type: integer
                        minimum: 0
                      provider:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - none
                      cached:
                        type: boolean
                    required:
                      - timestamp
                    additionalProperties: false
                required:
                  - data
                additionalProperties: false
              example:
                data:
                  works:
                    - title: Harry Potter and the Philosopher's Stone
                      subjectTags:
                        - magic
                        - wizards
                        - fantasy
                        - adventure
                      firstPublicationYear: 1997
                      description: Harry Potter has never even heard of Hogwarts...
                      coverImageURL: https://covers.openlibrary.org/b/id/12345-L.jpg
                      primaryProvider: open_library
                      goodreadsWorkIDs:
                        - OL82563W
                      amazonASINs:
                        - B0192CTMYG
                      librarythingIDs: []
                      googleBooksVolumeIDs: []
                      isbndbQuality: 85
                      reviewStatus: verified
                      synthetic: false
                    - title: Harry Potter and the Chamber of Secrets
                      subjectTags:
                        - magic
                        - wizards
                        - fantasy
                      firstPublicationYear: 1998
                      description: The summer after his first year at Hogwarts...
                      coverImageURL: https://covers.openlibrary.org/b/id/12346-L.jpg
                      primaryProvider: open_library
                      goodreadsWorkIDs:
                        - OL82563W
                      amazonASINs:
                        - B0192CTNYH
                      librarythingIDs: []
                      googleBooksVolumeIDs: []
                      isbndbQuality: 85
                      reviewStatus: verified
                      synthetic: false
                  editions:
                    - isbns:
                        - '9780439708180'
                        - '0439708184'
                      title: Harry Potter and the Philosopher's Stone
                      publisher: Scholastic Inc.
                      publicationDate: '1999-09-01'
                      pageCount: 309
                      format: paperback
                      coverImageURL: >-
                        https://covers.openlibrary.org/b/isbn/9780439708180-L.jpg
                      primaryProvider: open_library
                      amazonASINs:
                        - '0439708184'
                      googleBooksVolumeIDs: []
                      librarythingIDs: []
                      isbndbQuality: 85
                  authors:
                    - name: J.K. Rowling
                      gender: female
                      culturalRegion: europe
                      nationality: British
                      birthYear: 1965
                      openLibraryID: OL23919A
                      bookCount: 42
                  resultCount: 2
                metadata:
                  timestamp: '2025-11-28T12:00:00.000Z'
                  processingTime: 1205
                  provider: open_library
                  cached: false
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    nullable: true
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      cached:
                        type: boolean
                      source:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - vectorize
                    required:
                      - timestamp
                    additionalProperties: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - NOT_FOUND
                          - INVALID_REQUEST
                          - INVALID_ISBN
                          - INVALID_QUERY
                          - MISSING_PARAMETER
                          - UNAUTHORIZED
                          - FORBIDDEN
                          - INTERNAL_ERROR
                          - API_ERROR
                          - NETWORK_ERROR
                          - RATE_LIMIT_EXCEEDED
                          - CIRCUIT_OPEN
                          - PROVIDER_ERROR
                          - TIMEOUT
                      message:
                        type: string
                      details:
                        type: object
                        additionalProperties:
                          nullable: true
                      retryable:
                        type: boolean
                      retryAfterMs:
                        type: number
                        minimum: 0
                      provider:
                        type: string
                    required:
                      - code
                      - message
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
              example:
                data: null
                metadata:
                  timestamp: '2025-11-28T12:00:00.000Z'
                error:
                  code: INVALID_QUERY
                  message: Search query is required and must be 1-200 characters
                  details:
                    parameter: q
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    nullable: true
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      cached:
                        type: boolean
                      source:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - vectorize
                    required:
                      - timestamp
                    additionalProperties: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - NOT_FOUND
                          - INVALID_REQUEST
                          - INVALID_ISBN
                          - INVALID_QUERY
                          - MISSING_PARAMETER
                          - UNAUTHORIZED
                          - FORBIDDEN
                          - INTERNAL_ERROR
                          - API_ERROR
                          - NETWORK_ERROR
                          - RATE_LIMIT_EXCEEDED
                          - CIRCUIT_OPEN
                          - PROVIDER_ERROR
                          - TIMEOUT
                      message:
                        type: string
                      details:
                        type: object
                        additionalProperties:
                          nullable: true
                      retryable:
                        type: boolean
                      retryAfterMs:
                        type: number
                        minimum: 0
                      provider:
                        type: string
                    required:
                      - code
                      - message
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
              example:
                data: null
                metadata:
                  timestamp: '2025-11-28T12:00:00.000Z'
                error:
                  code: RATE_LIMIT_EXCEEDED
                  message: Rate limit exceeded. Maximum 100 requests per minute.
                  retryable: true
                  retryAfterMs: 60000
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    nullable: true
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      cached:
                        type: boolean
                      source:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - vectorize
                    required:
                      - timestamp
                    additionalProperties: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - NOT_FOUND
                          - INVALID_REQUEST
                          - INVALID_ISBN
                          - INVALID_QUERY
                          - MISSING_PARAMETER
                          - UNAUTHORIZED
                          - FORBIDDEN
                          - INTERNAL_ERROR
                          - API_ERROR
                          - NETWORK_ERROR
                          - RATE_LIMIT_EXCEEDED
                          - CIRCUIT_OPEN
                          - PROVIDER_ERROR
                          - TIMEOUT
                      message:
                        type: string
                      details:
                        type: object
                        additionalProperties:
                          nullable: true
                      retryable:
                        type: boolean
                      retryAfterMs:
                        type: number
                        minimum: 0
                      provider:
                        type: string
                    required:
                      - code
                      - message
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
              example:
                data: null
                metadata:
                  timestamp: '2025-11-28T12:00:00.000Z'
                error:
                  code: INTERNAL_ERROR
                  message: An unexpected error occurred while processing the request
  /api/v2/capabilities:
    get:
      tags:
        - Discovery
      summary: Get API capabilities and feature availability
      description: |-

        Returns comprehensive feature availability and configuration.
        Clients should call this on app startup to discover available features.

        **Use Cases:**
        - Feature discovery (check which endpoints are available)
        - Version compatibility (check API version)
        - Rate limit awareness (know limits before hitting them)
        - Deprecation notices (prepare for sunset endpoints)
          
      responses:
        '200':
          description: API capabilities retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      apiVersion:
                        type: string
                      features:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            enabled:
                              type: boolean
                            version:
                              type: string
                            endpoints:
                              type: array
                              items:
                                type: string
                            rateLimit:
                              type: object
                              properties:
                                requests:
                                  type: integer
                                  minimum: 0
                                  exclusiveMinimum: true
                                windowMs:
                                  type: integer
                                  minimum: 0
                                  exclusiveMinimum: true
                              required:
                                - requests
                                - windowMs
                            notes:
                              type: string
                          required:
                            - name
                            - enabled
                            - version
                            - endpoints
                      limits:
                        type: object
                        properties:
                          maxBatchSize:
                            type: integer
                            minimum: 0
                            exclusiveMinimum: true
                          maxCsvRows:
                            type: integer
                            minimum: 0
                            exclusiveMinimum: true
                          maxImageSizeMb:
                            type: integer
                            minimum: 0
                            exclusiveMinimum: true
                          maxConcurrentJobs:
                            type: integer
                            minimum: 0
                            exclusiveMinimum: true
                        required:
                          - maxBatchSize
                          - maxCsvRows
                          - maxImageSizeMb
                          - maxConcurrentJobs
                      deprecations:
                        type: array
                        items:
                          type: object
                          properties:
                            endpoint:
                              type: string
                            sunsetDate:
                              type: string
                            replacement:
                              type: string
                          required:
                            - endpoint
                            - sunsetDate
                            - replacement
                    required:
                      - apiVersion
                      - features
                      - limits
                      - deprecations
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      cached:
                        type: boolean
                      source:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - vectorize
                    required:
                      - timestamp
                    additionalProperties: false
                required:
                  - data
                additionalProperties: false
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    nullable: true
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      cached:
                        type: boolean
                      source:
                        type: string
                        enum:
                          - google_books
                          - open_library
                          - isbndb
                          - kv_cache
                          - d1_database
                          - vectorize
                    required:
                      - timestamp
                    additionalProperties: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - NOT_FOUND
                          - INVALID_REQUEST
                          - INVALID_ISBN
                          - INVALID_QUERY
                          - MISSING_PARAMETER
                          - UNAUTHORIZED
                          - FORBIDDEN
                          - INTERNAL_ERROR
                          - API_ERROR
                          - NETWORK_ERROR
                          - RATE_LIMIT_EXCEEDED
                          - CIRCUIT_OPEN
                          - PROVIDER_ERROR
                          - TIMEOUT
                      message:
                        type: string
                      details:
                        type: object
                        additionalProperties:
                          nullable: true
                      retryable:
                        type: boolean
                      retryAfterMs:
                        type: number
                        minimum: 0
                      provider:
                        type: string
                    required:
                      - code
                      - message
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false

  /api/v2/trending/searches:
    get:
      tags:
        - Discovery
      summary: Get trending search queries
      description: |-
        Returns popular search queries based on user activity.
        Falls back to curated list if no analytics data available.

        **Query Parameters:**
        - `limit`: Number of results (1-20, default 10)
        - `timeRange`: Time window - 'day', 'week', or 'month' (default 'week')

        **Response Format (Unified ResponseEnvelope):**
        ```json
        {
          "success": true,
          "data": {
            "searches": [
              { "query": "Harry Potter", "searchCount": 1250, "category": "Fantasy" }
            ],
            "count": 10,
            "totalAvailable": 20,
            "timeRange": "week"
          },
          "metadata": {
            "timestamp": "2025-12-01T00:00:00Z",
            "source": "curated",
            "cached": false
          }
        }
        ```
      parameters:
        - name: limit
          in: query
          description: Number of results to return (1-20)
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
        - name: timeRange
          in: query
          description: Time window for trending data
          schema:
            type: string
            enum: [day, week, month]
            default: week
      responses:
        '200':
          description: Trending searches retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      searches:
                        type: array
                        items:
                          type: object
                          properties:
                            query:
                              type: string
                              example: "Harry Potter"
                            searchCount:
                              type: integer
                              example: 1250
                            category:
                              type: string
                              example: "Fantasy"
                          required:
                            - query
                            - searchCount
                      count:
                        type: integer
                        example: 10
                      totalAvailable:
                        type: integer
                        example: 20
                      timeRange:
                        type: string
                        example: "week"
                    required:
                      - searches
                      - count
                      - totalAvailable
                      - timeRange
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      source:
                        type: string
                        enum: [kv-cache, curated, analytics]
                      cached:
                        type: boolean
                      generatedAt:
                        type: string
                        format: date-time
                required:
                  - success
                  - data
                  - metadata

  /api/v2/trending/books:
    get:
      tags:
        - Discovery
      summary: Get trending books
      description: |-
        Returns trending books based on user activity and popularity.
        Falls back to curated list if no analytics data available.

        **Query Parameters:**
        - `limit`: Number of results (1-20, default 10)
        - `timeRange`: Time window - 'day', 'week', or 'month' (default 'week')

        **Response Format (Unified ResponseEnvelope):**
        ```json
        {
          "success": true,
          "data": {
            "books": [
              {
                "isbn": "9781649374042",
                "title": "Fourth Wing",
                "authors": ["Rebecca Yarros"],
                "coverUrl": "https://...",
                "trendScore": 98,
                "reason": "TikTok sensation"
              }
            ],
            "count": 10,
            "totalAvailable": 20,
            "timeRange": "week"
          },
          "metadata": { ... }
        }
        ```
      parameters:
        - name: limit
          in: query
          description: Number of results to return (1-20)
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
        - name: timeRange
          in: query
          description: Time window for trending data
          schema:
            type: string
            enum: [day, week, month]
            default: week
      responses:
        '200':
          description: Trending books retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      books:
                        type: array
                        items:
                          type: object
                          properties:
                            isbn:
                              type: string
                              example: "9781649374042"
                            title:
                              type: string
                              example: "Fourth Wing"
                            authors:
                              type: array
                              items:
                                type: string
                              example: ["Rebecca Yarros"]
                            coverUrl:
                              type: string
                              format: uri
                            trendScore:
                              type: integer
                              minimum: 0
                              maximum: 100
                              example: 98
                            reason:
                              type: string
                              example: "TikTok sensation"
                          required:
                            - isbn
                            - title
                            - authors
                            - trendScore
                      count:
                        type: integer
                        example: 10
                      totalAvailable:
                        type: integer
                        example: 20
                      timeRange:
                        type: string
                        example: "week"
                    required:
                      - books
                      - count
                      - totalAvailable
                      - timeRange
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      source:
                        type: string
                        enum: [kv-cache, d1-database, curated]
                      cached:
                        type: boolean
                      generatedAt:
                        type: string
                        format: date-time
                required:
                  - success
                  - data
                  - metadata

  /api/v2/recommendations/weekly:
    get:
      tags:
        - Discovery
      summary: Get weekly book recommendations
      description: |-
        Returns global weekly book recommendations.
        Non-personalized curated picks generated every Sunday at midnight UTC.

        **Query Parameters:**
        - `limit`: Number of results (1-20, default 10)

        **Response Format (Unified ResponseEnvelope):**
        ```json
        {
          "success": true,
          "data": {
            "weekOf": "2025-12-01",
            "recommendations": [
              {
                "isbn": "9780439708180",
                "title": "Harry Potter and the Sorcerer's Stone",
                "author": "J.K. Rowling",
                "coverUrl": "https://...",
                "reason": "Classic fantasy adventure"
              }
            ],
            "count": 10,
            "totalAvailable": 20
          },
          "metadata": {
            "timestamp": "2025-12-01T00:00:00Z",
            "source": "kv-cache",
            "cached": true,
            "generatedAt": "2025-11-30T00:00:00Z"
          }
        }
        ```
      parameters:
        - name: limit
          in: query
          description: Number of recommendations to return (1-20)
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        '200':
          description: Weekly recommendations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      weekOf:
                        type: string
                        format: date
                        example: "2025-12-01"
                      recommendations:
                        type: array
                        items:
                          type: object
                          properties:
                            isbn:
                              type: string
                              example: "9780439708180"
                            title:
                              type: string
                              example: "Harry Potter and the Sorcerer's Stone"
                            author:
                              type: string
                              example: "J.K. Rowling"
                            coverUrl:
                              type: string
                              format: uri
                            reason:
                              type: string
                              example: "Classic fantasy adventure"
                            score:
                              type: number
                              minimum: 0
                              maximum: 100
                          required:
                            - isbn
                            - title
                            - author
                            - reason
                      count:
                        type: integer
                        example: 10
                      totalAvailable:
                        type: integer
                        example: 20
                      message:
                        type: string
                        description: Info message when no recommendations available
                    required:
                      - weekOf
                      - recommendations
                      - count
                      - totalAvailable
                  metadata:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        format: date-time
                      source:
                        type: string
                        enum: [kv-cache, d1-database, none]
                      cached:
                        type: boolean
                      generatedAt:
                        type: string
                        format: date-time
                      expiresAt:
                        type: string
                        format: date-time
                      nextGenerationTime:
                        type: string
                        format: date-time
                required:
                  - success
                  - data
                  - metadata

  # =============================================================================
  # V2 SEARCH API - CURRENT
  # =============================================================================

  /api/v2/search:
    get:
      tags:
        - V2 Search
      summary: Unified search endpoint
      operationId: searchBooks
      description: |
        Unified search supporting text, semantic, and hybrid modes.

        **Search Modes:**
        - `text` (default): Traditional keyword matching via OpenLibrary
        - `semantic`: AI-powered vector search using Cloudflare Vectorize
        - `hybrid`: Combines both (future enhancement, currently delegates to semantic)

        **Examples:**
        ```bash
        # Text search (default)
        curl "https://api.oooefam.net/api/v2/search?q=harry%20potter"

        # Semantic search
        curl "https://api.oooefam.net/api/v2/search?q=wizards+magic+school&mode=semantic"
        ```

        **Rate Limits:** 100 requests/minute per IP
      parameters:
        - name: q
          in: query
          required: true
          description: Search query (1-200 characters)
          schema:
            type: string
            minLength: 1
            maxLength: 200
            example: "harry potter"
        - name: mode
          in: query
          required: false
          description: Search mode
          schema:
            type: string
            enum: [text, semantic, hybrid]
            default: text
        - name: limit
          in: query
          required: false
          description: Maximum results (1-50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: offset
          in: query
          required: false
          description: Pagination offset
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
[...]
