openapi: 3.0.3
info:
  title: BooksTrack API
  version: 1.0.0
  description: |
    BooksTrack API - Book metadata search, enrichment, and batch operations

    This is a placeholder OpenAPI spec for SDK generation testing.
    Full spec will be generated during Sprint 1 migration.
  contact:
    name: BooksTrack Team
    email: support@bookstrack.com

servers:
  - url: https://api.oooefam.net
    description: Production
  - url: http://localhost:8787
    description: Local development

tags:
  - name: Health
    description: Health check and monitoring
  - name: Search
    description: Book search endpoints

paths:
  /health:
    get:
      summary: Health check
      description: Returns API health status
      operationId: getHealth
      tags:
        - Health
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                  timestamp:
                    type: string
                    format: date-time
                required:
                  - status
                  - timestamp

  /v1/search/isbn:
    get:
      summary: Search by ISBN
      description: Search for a book by ISBN-10 or ISBN-13
      operationId: searchByISBN
      tags:
        - Search
      parameters:
        - name: isbn
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{10}$|^\d{13}$'
          description: ISBN-10 or ISBN-13 (digits only, no hyphens)
        - name: includeEditions
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include all editions of the book
      responses:
        '200':
          description: Book found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelope'
        '400':
          description: Invalid ISBN format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Book not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/search/title:
    get:
      summary: Search by title
      description: Search for books by title
      operationId: searchByTitle
      tags:
        - Search
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            maxLength: 200
          description: Book title search query
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Maximum number of results
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelope'

components:
  schemas:
    ResponseEnvelope:
      type: object
      description: Canonical API response format
      required:
        - success
        - data
        - metadata
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/Book'
        metadata:
          type: object
          required:
            - source
            - cached
            - timestamp
          properties:
            source:
              type: string
              enum: [google_books, open_library, isbndb]
              description: Data source provider
            cached:
              type: boolean
              description: Whether result was served from cache
            timestamp:
              type: string
              format: date-time
              description: Response timestamp

    Book:
      type: object
      description: Canonical book metadata object
      required:
        - isbn
        - title
      properties:
        isbn:
          type: string
          description: ISBN-13 (primary identifier)
        title:
          type: string
          description: Book title
        author:
          type: string
          description: Primary author name
        publisher:
          type: string
          description: Publisher name
        publishedDate:
          type: string
          description: Publication date (YYYY-MM-DD or YYYY)
        pageCount:
          type: integer
          minimum: 0
          description: Number of pages
        coverUrl:
          type: string
          format: uri
          description: Cover image URL
        description:
          type: string
          description: Book description/synopsis

    ErrorResponse:
      type: object
      description: Error response format
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          type: object
          required:
            - code
            - message
            - statusCode
          properties:
            code:
              type: string
              enum:
                - MISSING_ISBN
                - INVALID_ISBN
                - NOT_FOUND
                - RATE_LIMIT_EXCEEDED
                - CIRCUIT_OPEN
                - API_ERROR
                - INTERNAL_ERROR
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            statusCode:
              type: integer
              description: HTTP status code
            retryable:
              type: boolean
              description: Whether the request can be retried
            retryAfterMs:
              type: integer
              description: Milliseconds to wait before retry (if retryable)
